**/bin/
**/obj/
.vs/
*.user
*.suo
/MetahookInstaller-Output/
/build/
/Build/
/lang
/theme
/*.lnk
/MetahookInstallerAvalonia/
/MetahookInstallerAvalonia.Desktop/
/MetahookInstallerAvalonia/Installation/
/publish/